/*
Assign text color #3D3D3D to elements inside body tags
Text color #FF0000 to any elements of class .red inside body tags
You must use nested declarations
*/
$base-color: #3D3D3D;
$class-color: #FF0000;

body {
    color: $base-color;
    .red {
        color: $class-color;
    }
}
